/**
 * partials/footer
 * ---
 */


#footer-container {
   background: $footer-bg;
   color: $white;
   margin-top: 0px;
   padding: 55px 15px 20px;
   text-align: center;
    
   .footer {
     text-align: center;
       
     .full-width-widget {
        width: 100%;
        margin: 0 0 60px 0;
           
           
        a {
           color: transparent;
               
           .facebook,
           .twitter,
           .insta {
              width: 30px;
              height: 30px;
              margin: 0 10px;
                
              &.svg path {
                 fill: $white;
                 transition: all $anim-duration ease;
              }
           }
           
           .youtube {
              width: 40px;
              height: 40px;
              margin: -5px 10px;
              
              &.svg path {
                 fill: $white;
                 transition: all $anim-duration ease;
              }
           }
        }
     }
        
      .footer-logo{
         width: 62px;
         display: flex;
         margin: 0 auto 25px;
      }
      
      a,
      link,
      hover,
      active {
         color: $footer-link;
      }
   }
}


/***********************************************
* TABLET
***********************************************/

/* Portrait */
@media only screen
   and (min-device-width: 768px)
   and (max-device-width: 1023px)
   and (orientation: portrait) {
      
      #footer-container {
         .footer {
            .full-width-widget {
               a {
                  .facebook,
                  .twitter,
                  .insta {
                     width: 30px;
                     height: 30px;
                       
                     &.svg path {
                        fill: $white;
                     }
                  }
                  
                  .youtube {
                     width: 40px;
                     height: 40px;
                     
                     &.svg path {
                        fill: $white;
                     }
                  }
               }
            }
              
            .footer-logo{
               width: 60px;
            }
         }
      }
}


/***********************************************
* DESKTOP
***********************************************/


@media only screen
    and (min-device-width: 1024px) {
       #footer-container {
         .footer {
            .full-width-widget {
               a {
                  .facebook,
                  .twitter,
                  .insta {
                     width: 30px;
                     height: 30px;
                       
                     &.svg path {
                        fill: $white;
                        
                        &:hover {
                          fill: $fgtm-green;
                        }
                     }
                  }
                  
                  .youtube {
                     width: 40px;
                     height: 40px;
                     
                     &.svg path {
                        fill: $white;
                        
                        &:hover {
                          fill: $fgtm-green;
                        }
                     }
                  }
               }
            }
              
            .footer-logo{
               width: 60px;
            }
         }
      }
}
