/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */


// Global box-sizing
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  // `font-size` for REM use
  font-size: $font-size-base;
  // Cancel hightlight color when tapping in iOS
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
   padding: 0;
}

h1 {
   font-size: 3.036em;
   line-height: 1.223;
}

h2 {
   font-size: 2.335em;
   line-height: 1.223;
}

h3 {
   font-size: 1.796em;
   line-height: 1.223;
}

h4 {
   font-size: 1.382em;
   line-height: 1.223;
}

p {
   font-size: 1.063em;
   line-height: 1.223;
}

h5 {
   font-size: 0.818em;
   line-height: 1.223;
}

h6 {
   font-size: 0.629em;
   line-height: 1.223;
}

ul {
   list-style: none;
   padding: 0;
   font-size: 1.063em;
   line-height: 1.223;
}


img {
  // Don't allow <IMG> to be larger then its container
  max-width: 100%;
  // Omit space caused by default style, between images lines
  vertical-align: middle;
}

a {
  color: $text-color;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:active {
      
  }
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

// Text selection
::selection {
  background-color: $selection-bg;
  color: $body-bg;
  text-shadow: none;
}

.fgtm-btn {
   @include green-btn;
   @include green-btn-hover;
}

.fgtm-line-btn {
   @include green-line-btn;
   @include green-line-btn-hover;
}
