/**
 * partials/Templates/About
 * ---
 * About Page
 */
 
//Secondary Nav
nav.about--secondary-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  
  ul.about--secondary-nav-items {
    border: 1px solid $fgtm-black-five;
    background: $fgtm-black-five;
    border-radius: 10px;
    padding: 12px;
    
    li {
      font-size: 1.063em + 0.3em;
      margin: 0;
      padding: 0;
      border: none;
      background: transparent;
      text-indent: 0;
      color: $fgtm-black-three;
      text-align: center;
      transition: all $anim-duration ease;
      
      &:nth-child(2),
      &:nth-child(3) {
        margin: 1.5rem 0 1.5rem 0;
      }
      
      a {
        text-transform: capitalize;
        margin: 0 1.5rem 0 1.5rem;
        border-bottom: 3px solid $fgtm-black-five;
        transition: all $anim-duration ease;
        
        &:hover {
          //border-bottom: 3px solid $fgtm-green;
          color: $fgtm-green;
        }
      }
    }
  }
}


// Mission
.about-mission {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
   
  .wrapper {
    .mission {
      flex: 1 1 auto;
      text-align: center;
      color: $fgtm-black;
        
      > h3 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 3rem;
      }
         
      > p {
        margin-bottom: 1rem;
        line-height: 1.593;
      }
    }
  }
}

// What we Believe
.about-believe-container {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient( rgba(0, 171, 136, 0.8), rgba(0, 171, 136, 0.8)), url('img/what-we-believe.jpg') no-repeat center center;
  @include background-size(500%);
  
  .wrapper {
    .believe {
      flex: 1 1 auto;
      text-align: center;
      color: $white;
       
      > h3 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 3rem;
      }
        
      > p {
        margin-bottom: 1rem;
        line-height: 1.593;
      }
    }
  }
}

// Leadership
.about-leadership {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient( rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.1));
  //, url('img/exclusive_paper.png') left top
  
  .wrapper {
    > h3 {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 3rem;
    }
    
    .leadership-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      text-align: center;
      color: $fgtm-black;
       
      .leadership {
        flex: 1 1 auto;
        margin-bottom: 3rem;
          
        > figure {
          margin: 0 0 1rem 0;
        }
        
        .title {
          font-size: 0.818em;
          margin-bottom: 1.5rem;
          color: $fgtm-black-four;
        }
        
        > h4 {
          padding: 0rem 0 0.3rem 0;
        }
      }
    }
  }
}

// Ministries
.about-ministries {
  padding: 5em 0 ;
  display: flex;
  flex-direction: column;
  background: $body-section;
   
  .wrapper {
    > h3 {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 3rem;
    }
    
    .ministries {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      
      .ministry {
        flex: 1 1 auto;
        background: $white;
        padding-bottom: 0rem;
        margin-bottom: 0;
        border: 1px solid $fgtm-black-five;
        @include border-radius(4px);
        transition: all $anim-duration ease;
        margin-bottom: 2rem;
        text-align: center;
        
        &:last-child {
          margin-bottom: 0;
        }
        
        a {
          display: block;
          padding: 2rem 2rem;
          font-size: 1.386em;
          
          span {
            display: block;
            font-size: 0.545em;
            margin-top: 1.3rem;
          }
        }
      }
    }
  }
}


/***********************************************
* CONTINUE MOBILE
***********************************************/
@media only screen
  and (min-width: 414px) {
  
  // Mission
  .about-mission {
    .wrapper {
      padding: 0 3rem;
    }
  }
  
  // What we Believe
  .about-believe-container {
    .wrapper {
      padding: 0 3rem;
    }
  }
}


@media only screen
  and (min-width: 568px) {
     
  // Mission
  .about-mission {
    .wrapper {
      padding: 0 4rem;
    }
  }
  
  // What we Believe
  .about-believe-container {
    .wrapper {
      padding: 0 4rem;
    }
  }
}
  
   
@media only screen
  and (min-width: 600px) {
  
  // Mission
  .about-mission {
    .wrapper {
      padding: 0 5rem;
      
      .mission {
        > h3 {
          font-size: 2.166em; // 1.796em + 1/4 scale
        }
      }
    }
  }
  
  // What we Believe
  .about-believe-container {
    .wrapper {
      padding: 0 8rem;
      
      .believe {
        > h3 {
          font-size: 2.166em; // 1.796em + 1/4 scale
        }
      }
    }
  }
  
  // Leadership
  .about-leadership {
    .wrapper {
      > h3 {
        font-size: 2.166em; // 1.796em + 1/4 scale
      }
      
      .leadership-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
         
        .leadership {
          flex: 0 1 45%;
          
          &:nth-child(2),
          &:nth-child(4),
          &:nth-child(6) {
            margin-left: 2em;
          }
        }
      }
    }
  }
  
  // Ministries
  .about-ministries {
    .wrapper {
      > h3 {
        font-size: 2.166em; // 1.796em + 1/4 scale
      }
      
      .ministries {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .ministry {
          flex: 0 1 45%;
          
          &:nth-child(2),
          &:nth-child(4),
          &:nth-child(6) {
            margin-left: 2em;
          }
          
          a {
            font-size: 1.2em;
            
            span {
              font-size: 0.645em;
            }
          }
        }
      }
    }
  }
}


/***********************************************
* TABLET
***********************************************/

/* Portrait */
@media only screen
  and (min-width: 768px) {
  
  //Secondary Nav
  nav.about--secondary-nav {
    ul.about--secondary-nav-items {
      li {
        font-size: 1.063em;
        display: inline-flex;
        text-align: left;
        
        &:nth-child(2),
        &:nth-child(3) {
          margin: 0 -0.3rem 0 -0.3rem;
        }
      }
    }
  }
  
  // Mission
  .about-mission {
    .wrapper {
      .mission {
        > p {
          font-size: 1.13em;
        }
      }
    }
  }
  
  // What we Believe
  .about-believe-container {
    @include background-size(180%);
    
    .wrapper {
      .believe {
        > p {
          font-size: 1.13em;
        }
      }
    }
  }
  
  // Leadership
  .about-leadership {
    .wrapper {
      .leadership-container {
        text-align: left;
        
        .leadership {
          .title {
            font-size: 1.188em; // 0.818em + 1/4 scale = 0.37
          }
          
          > h4 {
            font-size: 1.752em; // h4 + 1/4 scale = 0.37
          }
          
          > p {
            font-size: 1.13em;
            line-height: 1.593;
          }
        }
      }
    }
  }
}

/***********************************************
* DESKTOP
***********************************************/

@media only screen
  and (min-width: 1024px) {
  
  // Ministries
  .about-ministries {
    .wrapper {
      .ministries {
        .ministry {
          &:hover {
            border-color: $fgtm-green;
          }
        }
      }
    }
  }
}