/**
* partials/Templates/bible
* ---
* Bible
*/

//BIBLE
.bible-study-container {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  
  .wrapper {
    .bible-study {
      text-align: center;
      
      figure {
        margin: 0 0 3rem 0;
      }
      
      h3 {
        text-transform: uppercase;
        margin-bottom: 2.71rem;
      }
      
      p {
        margin-bottom: 2.355rem;
      }
      
      h4 {
        text-transform: uppercase;
        padding-bottom: 1.18rem;
      }
      
      ul.date-age-location {
        margin: 0 0 1rem 0;
      }
      
      ul.classes {
        margin: 0;
        padding: 0;
        transition: all $anim-duration ease;
        
        li {
          > div {
            text-transform: uppercase;
            cursor: pointer;
            background: $fgtm-green;
            color: white;
            padding: 0.7rem 0;
            margin-bottom: 0.0rem;
            border-bottom: 1px solid $fgtm-black-five;
            transition: all $anim-duration ease;
          }
          
          ul {
            padding: 0;
            display: none;
            
            li {
              cursor: auto;
              background: $fgtm-black-five;
              color: $fgtm-black;
              padding: 1rem;
              border-bottom: 1px solid $fgtm-green;
            }
          }
        }
      }
    }
  }
}


/***********************************************
* CONTINUE MOBILE
***********************************************/
@media only screen
  and (min-width: 414px) {
  
  
}


@media only screen
  and (min-width: 568px) {
  
  
}
  
  
@media only screen
  and (min-width: 600px) {
  
  //BIBLE
  .bible-study-container {
    .wrapper {
      .bible-study {
        p {
          padding: 0 3rem;
        }
        
        ul.date-age-location {
          display: flex;
          flex-direction: row;
          justify-content: center;
          
          > li {
            padding: 0 1rem;
          }
        }
        
        ul.classes {
          margin: 0 auto;
          width: 350px;
        }
      }
    }
  }
}


/***********************************************
* TABLET
***********************************************/

/* Portrait */
@media only screen
  and (min-width: 768px) {
  
  //BIBLE
  .bible-study-container {
    .wrapper {
      .bible-study {
        p {
          padding: 0 6rem;
        }
      }
    }
  }
}

/***********************************************
* DESKTOP
***********************************************/

@media only screen
  and (min-width: 1024px) {
  
  //BIBLE
  .bible-study-container {
    .wrapper {
      .bible-study {
        p {
          padding: 0 9rem;
        }
        
        ul.classes {
          li {
            > div {
              &:hover {
                background: $fgtm-hover;
              }
            }
          }
        }
      }
    }
  }
}