/**
 * partials/Templates/Calendar
 * ---
 * Calendar Page
 */
 
 // Calendar
.calendar-container {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
   
  .wrapper {
    .calendar {
      
    }
  }
}