/**
 * partials/Templates/Calendar
 * ---
 * Calendar Page
 */
 
 // Calendar
.calendar-container {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
   
  .wrapper {
    .calendar {
      
    }
  }
}

/***********************************************
* CONTINUE MOBILE
***********************************************/
@media only screen
  and (min-width: 414px) {
     
  
}


@media only screen
  and (min-width: 568px) {
  
  
}
  
   
@media only screen
  and (min-width: 600px) {
  
  
}


/***********************************************
* TABLET
***********************************************/

/* Portrait */
@media only screen
  and (min-width: 768px) {
  
  
}

/***********************************************
* DESKTOP
***********************************************/

@media only screen
  and (min-width: 1024px) {
     
  
}