/**
* partials/Templates/Christine's Corner
* ---
* Christine's Corner
*/

// aboutTheAuthor
.about-the-author {
  padding: 1.5em 0 3rem;
  margin: 0 0 3rem 0;
  border-bottom: 1px solid $fgtm-black-five;
  display: flex;
  flex-direction: column;
  
  .wrapper {
    .author-content {
      flex: 1 1 auto;
  
      figure {
        margin: 0 0 2rem 0;
      }
      
      > div {
        h3 {
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 2rem;
        }
        
        > p {
          text-align: center;
        }
      }
    }
  }
}
   
// authorPosts
.author-posts {
  display: flex;
  flex-direction: column;
  
  > .wrapper {
    .post,
    .status-publish {
      flex: 1 1 auto;
      text-align: center;
      margin-bottom: 3.5rem;
      
      a {
        figure {
          margin: 0 0 2rem 0;
        }
      }
      
      h3 {
        font-family: $font-light;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0.3rem;
      }
      
      .date {
        display: inline-flex;
        color: $fgtm-black-four;
        margin-bottom: 2rem;
      }
      
      > p.post-para {
        padding-bottom: 2rem;
        
        a {
          color: $fgtm-black-four;
        }
      }
      
      .story-tags {
        color: $fgtm-black-four;
        padding: 0 0 0.5rem 0;
        
        a {
          color: $fgtm-black;
          text-transform: lowercase;
        }
      }
    }
  }
}

 
 
/***********************************************
* CONTINUE MOBILE
***********************************************/
@media only screen
  and (min-width: 414px) {
  
  
}


@media only screen
  and (min-width: 568px) {
  
  // aboutTheAuthor
  .about-the-author {
    padding-top: 5rem;
    padding-bottom: 3rem;
    
    .wrapper {
      .author-content {
        display: flex;
        flex-direction: row;
    
        figure {
          margin: 0 1rem 0 0;
          flex: 1 1 45%;
        }
        
        > div {
          flex: 1 1 55%;
          
          h3 {
            text-align: left;
          }
          
          > p {
            text-align: left;
          }
        }
      }
    }
  }
  
  // authorPosts
  .author-posts {
    display: flex;
    flex-direction: column;
    
    > .wrapper {
      padding: 0 2rem;
      
      .post,
      .status-publish {
        
        a {
          figure {
            margin-right: 2rem;
            margin-left: 2rem;
          }
        }
      }
    }
  }
}
  
   
@media only screen
  and (min-width: 600px) {
  
  // aboutTheAuthor
  .about-the-author {
    > .wrapper {
      .author-content {
        figure {
          flex: 1 1 45%;
        }
        
        > div {
          flex: 1 1 55%;
          
          h3 {
            font-size: 2.166em; // 1.796em + 1/4 scale
          }
        }
      }
    }
  }
  
  // authorPosts
  .author-posts {
    > .wrapper {
      padding: 0 4rem;
      
      .post,
      .status-publish {
        
        a {
          figure {
            margin-right: 3rem;
            margin-left: 3rem;
          }
        }
      }
    }
  }
}


/***********************************************
* TABLET
***********************************************/

/* Portrait */
@media only screen
  and (min-width: 768px) {
  
  // aboutTheAuthor
  .about-the-author {
    > .wrapper {
      .author-content {
        figure {
          flex: 1 1 35%;
        }
        
        > div {
          flex: 1 1 65%;
        }
      }
    }
  }
  
  // authorPosts
  .author-posts {
    > .wrapper {
      display: flex;
      flex-direction: row;
      padding: 0 1.2rem;
      
      .post,
      .status-publish {
        flex: 1 1 auto;
        text-align: left;
        
        &:nth-child(odd) {
          margin-right: 1.5rem;
        }
        
        a {
          figure {
            margin-right: 0rem;
            margin-left: 0rem;
          }
        }
        
        h3 {
          text-align: left;
        }
      }
    }
  }
}

/***********************************************
* DESKTOP
***********************************************/

@media only screen
  and (min-width: 1024px) {
  
  // aboutTheAuthor
  .about-the-author {
    > .wrapper {
      .author-content {
        figure {
          flex: 1 1 28%;
        }
        
        > div {
          flex: 1 1 72%;
        }
      }
    }
  }
}