/**
 * partials/Templates/Giving
 * ---
 * Giving Page
 */
 
// Paypal
.giving-paypal {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient( rgba(230, 231, 232, 0.9), rgba(230, 231, 232, 0.85)), url('img/giving2.jpg') no-repeat center center; 
  @include background-size(cover);
  
  .wrapper {
    .paypal {
      flex-grow: 1 1 auto;
      text-align: center;
      color: $fgtm-black;
      
      > h3 {
         text-transform: uppercase;
         text-align: center;
         margin-bottom: 3rem;
      }
      
      .paypal-logo {
        margin-bottom: 2rem;
        width: 40%;
      }
      
      form {
        text-align: center;
        
        input {
          display: block;
          width: 100%;
          
          &.fgtm-btn {
            margin-top: 1rem;
            display: block;
            font-size: 1.063em;
            position: relative;
          }
        }
      }
    }
  }
}


// Donate
.giving-donate {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient( rgba(93, 118, 3, 0.9), rgba(77, 98, 3, 0.85)), url('img/giving2.jpg') no-repeat center center; 
  @include background-size(cover);
  
  .wrapper {
    .donate {
      flex-grow: 1 1 auto;
      text-align: center;
      color: $white;
      
      > h3 {
         text-transform: uppercase;
         text-align: center;
         margin-bottom: 3rem;
      }
      
      .btn-container {
        text-align: center;
        
        .fgtm-btn {
          margin-top: 1rem;
          display: block;
          font-size: 1.063em;
          position: relative;
        }
        
      }
    }
  }
}

/***********************************************
* CONTINUE MOBILE
***********************************************/
@media only screen
  and (min-width: 414px) {
  
  // Paypal
  .giving-paypal {
    .wrapper {
      .paypal {
        .paypal-logo {
          width: 30%;
        }
        
        p {
          padding: 0 1.5rem;
        }
      }
    }
  }
  
  // Donate
  .giving-donate {
    .wrapper {
      .donate {
        p {
          padding: 0 1.5rem;
        }
      }
    }
  }
}


@media only screen
  and (min-width: 568px) {
     
  // Paypal
  .giving-paypal {
    .wrapper {
      .paypal {
        .paypal-logo {
          width: 25%;
        }
        
        p {
          padding: 0 2.5rem;
        }
      }
    }
  }
  
  // Donate
  .giving-donate {
    .wrapper {
      .donate {
        p {
          padding: 0 2.5rem;
        }
      }
    }
  }
}
  
   
@media only screen
  and (min-width: 600px) {
  
  // Paypal
  .giving-paypal {
    .wrapper {
      .paypal {
        > h3 {
           font-size: 2.166em; // 1.796em + 1/4 scale
        }
        
        .paypal-logo {
          width: 17%;
        }
        
        p {
          padding: 0 4.5rem;
        }
        
        form {
          input {
            display: block;
            width: 32%;
            
            &.fgtm-btn {
              display: inline-block;
            }
          }
        }
      }
    }
  }
  
  // Donate
  .giving-donate {
    .wrapper {
      .donate {
        > h3 {
           font-size: 2.166em; // 1.796em + 1/4 scale
        }
        
        p {
          padding: 0 4.5rem;
        }
        
        .btn-container {
          .fgtm-btn {
            display: inline-block;
          }
        }
      }
    }
  }
}


/***********************************************
* TABLET
***********************************************/

/* Portrait */
@media only screen
  and (min-width: 768px) {
  
  // Paypal
  .giving-paypal {
    .wrapper {
      .paypal {
        p {
          padding: 0 7.5rem;
        }
        
        .paypal-logo {
          width: 13%;
        }
        
        form {
          input {
            width: 28%;
          }
        }
      }
    }
  }
  
  // Donate
  .giving-donate {
    .wrapper {
      .donate {
        p {
          padding: 0 7.5rem;
        }
      }
    }
  }
}

/***********************************************
* DESKTOP
***********************************************/

@media only screen
  and (min-width: 1024px) {
  
  // Paypal
  .giving-paypal {
    .wrapper {
      .paypal {
        p {
          padding: 0 14.5rem;
        }
        
        .paypal-logo {
          width: 11%;
        }
        
        form {
          input {
            width: 22%;
          }
        }
      }
    }
  }
  
  // Donate
  .giving-donate {
    .wrapper {
      .donate {
        p {
          padding: 0 14.5rem;
        }
      }
    }
  }
}