/**
 * Global pageHeader.scss
 * ---
 */

// Header container
.page-header-container {
  display: flex;
  flex-direction: row;
  margin-top: 75px;
   
  header {
    &.header {
      flex: 1 1 auto;
      align-content: stretch;
      justify-content: center;
      
      .page-header {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 3.5rem 1.5rem 4rem 1.5rem;
        text-align: center;
        
        .heading {
          opacity: 1;
          transition: all $anim-duration-all ease $anim-duration-all;
          color: $white;
                
          h1 {
            font-size: 2.666em;
            line-height: 1.593;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
          }

          p {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

/***********************************************
* CONTINUE MOBILE
***********************************************/
@media only screen
  and (min-width: 414px) {
  
  // Header container
  .page-header-container {
    header {
      &.header {
        .page-header {
          
          .heading {

            h1 {
              
            }
  
            p {
              
            }
          }
        }
      }
    }
  }
}


@media only screen
  and (min-width: 568px) {
     
  
}
  
   
@media only screen
  and (min-width: 600px) {
  
  
}


/***********************************************
* TABLET
***********************************************/

/* Portrait */
@media only screen
  and (min-width: 768px) {
  
  // Header container
  .page-header-container {
    header {
      &.header {
        .page-header {
          
          .heading {
            h1 {
              font-size: 3.3em;
            }
  
            p {
              font-size: 1.5em;
            }
          }
        }
      }
    }
  }
}

/***********************************************
* DESKTOP
***********************************************/

@media only screen
  and (min-width: 1024px) {
  
  // Header container
  .page-header-container {
    header {
      &.header {
        .page-header {
          padding: 5.5rem 1.5rem 6rem 1.5rem;
        }
      }
    }
  }
}