/**
 * modules/mixins
 * ---
 */


@mixin reset-box {
  padding: 0;
  margin: 0;
}

@mixin flexbox-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin background-size($size) {
   -webkit-background-size: $size;
   -moz-background-size: $size;
   -o-background-size: $size;
   background-size: $size;
}

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}



// BORDER

@mixin border-radius($radius) {
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -ms-border-radius: $radius;
   border-radius: $radius;
}

@mixin border-top-left-radius($radius) {
   -webkit-border-top-left-radius: $radius;
   -moz-border-top-left-radius: $radius;
   -ms-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius) {
   -webkit-border-top-right-radius: $radius;
   -moz-border-top-right-radius: $radius;
   -ms-border-top-right-radius: $radius;
   border-top-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
   -webkit-border-bottom-left-radius: $radius;
   -moz-border-bottom-left-radius: $radius;
   -ms-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
}

@mixin border-top-right-radius($radius) {
   -webkit-border-top-right-radius: $radius;
   -moz-border-top-right-radius: $radius;
   -ms-border-top-right-radius: $radius;
   border-top-right-radius: $radius;
}

// BUTTON

@mixin green-btn {
   background: $fgtm-green;
   border: 0;
   color: $white;
   padding: 1.1rem 2rem;
   text-transform: uppercase;
   @include border-radius(6px);
   transition: all $anim-duration ease;
}

@mixin green-btn-hover {
   &:hover {
      background: $fgtm-hover;
   }
}

@mixin green-line-btn {
   background: $white;
   border: 2px solid $fgtm-black;
   color: $fgtm-green;
   padding: 1.1rem 2rem;
   text-transform: uppercase;
   @include border-radius(6px);
   transition: all $anim-duration ease;
}

@mixin green-line-btn-hover {
   &:hover {
      background: $fgtm-green;
      color: $white
   }
}