/**
 * modules/variables
 * ---
 */


/**
 * Nav
 */

$hamburger-menu-size: 55px;
$hamburger-menu-border-radius: .12em;
$hamburger-menu-line-height: 3px;
$hover-line-height: $hamburger-menu-line-height;
$anim-duration: .4s;
$anim-duration-all: .2s;

/**
 * Typography
 */

$font-family-base: "Geogrotesque-Light", "Geogrotesque-Regular", sans-serif;
$font-light: "Geogrotesque-Light";
$font-regular: "Geogrotesque-Regular";
$font-medium: "Geogrotesque-Medium";
$font-semibold: "Geogrotesque-SemiBold";
$font-bold: "Geogrotesque-Bold";

$font-size-base: 106.3%;
$line-height-base: 1.223;


/**
 * Colors
 */

$white: #fff;
$body-bg: #f5f5f5;
$body-section: #E6E6E6;
$text-color: #404041;

$fgtm-black: #404041;
$fgtm-black-two: #565659;
$fgtm-black-three: #696a6c;
$fgtm-black-four: #8b8d90;
$fgtm-black-five: #afb1b3;
$fgtm-black-five: #d5d6d8;

$fgtm-green: #00ab88;
$fgtm-green-two: #00b192;
$fgtm-green-three: #14b89c;
$fgtm-green-four: #6dc6b1;
$fgtm-green-five: #9fd7c8;

$fgtm-hover: #01715a;

$fgtm-red: #aa1e25;
$selection-bg: #04A4CC;

$content-bg-color: rgba(0,171,136,0.95);
$hamburger-menu-bg-color: transparent;

$footer-bg: #282828;
$footer-link: #696A6C;


/**
 * Grid
 */

$wrapper-width: 1000px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 20px;
$margin-vertical-large: 20px;