/**
 * partials/header
 * ---
 */


// Header container
.header-container {
   display: flex;
   flex-direction: column;
   margin-top: 75px;
   
   header {
      &.header {
         flex: 1 1 auto;
         align-content: stretch;
         justify-content: center;
      
         .hero-unit-image {
            height: 61.7vh;
            flex: 1;
            background: url('img/hero-image.jpg') no-repeat center center;
            @include background-size(cover);
         
            .img-overlay {
               background-color: rgba(0,0,0,0.3);
               flex: 1 1 auto;
               width: 100%;
               height: 100%;
               z-index: 0;
            }
         }
         
         .full-logo {
            position: absolute;
            text-align: center;
            left: 0;
            top: 200px;
            width: 100%;
            opacity: 1;
            transition: all $anim-duration-all ease $anim-duration-all;
            height: 0;
            
            .full-logo-img {
               position: relative;
               padding: 0 1em;
            }
         }
         
         .hero-call-to-action {
            position: absolute;
            display: flex;
            width: 100%;
            text-align: center;
            
            
            .new-here-link {
               position: relative;
               flex: 1 1 auto;
               justify-content: center;
               bottom: 65px;
               
               a {
                  color: $white;
                  font-family: $font-regular;
                  font-size: 1.1em;
                  text-transform: none;
               }
            }
            
            .see-more {
               position: relative;
               display: none;
            }
            
            .social-media {
               position: relative;
               display: none;
            }
         }
      }
   }
}

.home-live-service-container {
   background: $fgtm-green;
   transition: all $anim-duration-all ease $anim-duration-all;
   
   a {
      color: $white;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.15em;
      
      &.home-live-service-btn {
         padding: 1.5em 2em;
         transition: all $anim-duration-all ease $anim-duration-all;
      }
      
      div {
         transition: all $anim-duration-all ease $anim-duration-all;
         text-align: center;
         
         &:hover {
            transform: none;
         }
      }
      
/*
      span {
         background: url("img/arrow-right.svg") no-repeat 0 0px;
         @include background-size(contain);
         width: 20px;
         height: 20px;
         margin-left: 12px;
      }
*/
   }
}


/***********************************************
* CONTINUE MOBILE
***********************************************/
@media only screen
  and (min-width: 414px) {
     
  // Header container
  .header-container {
    header {
      &.header {
        .full-logo {
          top: 230px;
          
          .full-logo-img {
            max-width: 90%;
          }
        }
      }
    }
  }
}


@media only screen
  and (min-width: 568px) {
     
  // Header container
  .header-container {
    header {
      &.header {
        .hero-unit-image {
          height: 88vh;
        }
         
        .full-logo {
          top: 150px;
            
          .full-logo-img {
            max-width: 60%;
          }
        }
         
        .hero-call-to-action {
          .new-here-link {
            font-size: 1.063em;
          }
        }
      }
    }
  }
}
  
   
@media only screen
  and (min-width: 600px) {
     
  // Header container
  .header-container {
    header {
      &.header {
        .hero-unit-image {
          height: 75vh;
        }
         
        .full-logo {
          .full-logo-img {
            max-width: 55%;
          }
        }
      }
    }
  }
  
  .home-live-service-container {
    a {
      font-size: 1.1em;
    }
  }
}


/***********************************************
* TABLET
***********************************************/

/* Portrait */
@media only screen
  and (min-width: 768px) {
  
  // Header container
  .header-container {
    header {
      &.header {
        .hero-unit-image {
          height: 45vh;
        }
         
        .full-logo {
          top: 230px;
          
          .full-logo-img {
            max-width: 50%;
          }
        }
      }
    }
  }
  
  .home-live-service-container {
    a {
      font-size: 1.15em;
    }
  }
}

/***********************************************
* DESKTOP
***********************************************/

@media only screen
  and (min-width: 1024px) {
     
  // Header container
  .header-container {
    header {
      &.header {
        .hero-unit-image {
          height: 74.91vh;
        }
        
        .full-logo {
          top: 295px;
           
          .full-logo-img {
            max-width: 100%;
          }
        }
        
        .hero-call-to-action {
          position: absolute;
          display: flex;
          width: 100%;
          text-align: center;
          
          .new-here-link {
            position: relative;
            flex: 1 1 auto;
            justify-content: center;
            bottom: 65px;
            transition: all $anim-duration ease;
             
            a {
              color: $white;
              font-family: $font-regular;
              font-size: 1.2em;
              text-transform: none;
              transition: all $anim-duration ease;
              
              &:hover {
                color: $fgtm-green;
              }
            }
          }
          
          .see-more {
            position: relative;
            display: block;
            flex: 1 1 auto;
            bottom: 65px;
            color: $white;
            font-size: 1.2em;
            font-family: $font-regular;
            cursor: pointer;
            transition: all $anim-duration ease;
            
            &:hover {
              color: $fgtm-green;
            }
            
            &:after {
              content: "";
            }
          }
          
          .social-media {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            bottom: 65px;
            
            a {
              color: transparent;
            
              figure {
                margin: 0;
              
                .facebook,
                .twitter,
                .insta {
                  width: 25px;
                  height: 25px;
                  margin: 0 10px;
                     
                  &.svg path {
                    fill: $white;
                    transition: all $anim-duration ease;
                    
                    &:hover {
                      fill: $fgtm-green;
                    }
                  }
                }
               
                .youtube {
                  width: 35px;
                  height: 35px;
                  margin: -5px 10px;
                  
                  &.svg path {
                    fill: $white;
                    transition: all $anim-duration ease;
                     
                    &:hover {
                     fill: $fgtm-green;
                    }
                  }
                }
              }
            }  
          }
        }
      }
    }
  }
      
  .home-live-service-container {
    &:hover {
      background: $fgtm-hover;
    }
   
    a {
      font-size: 1.4em;
      
      div {
        &:after {
          width: 31px;
          height: 31px;
        }
      }
      
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
