/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
@font-face {
  font-family: "Geogrotesque-Light";
  src: url("fonts/Geogrotesque-Light.eot");
  src: url("fonts/Geogrotesque-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Geogrotesque-Light.woff") format("woff"), url("fonts/Geogrotesque-Light.ttf") format("truetype"), url("fonts/Geogrotesque-Light.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Geogrotesque-Medium";
  src: url("fonts/Geogrotesque-Medium.eot");
  src: url("fonts/Geogrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Geogrotesque-Medium.woff") format("woff"), url("fonts/Geogrotesque-Medium.ttf") format("truetype"), url("fonts/Geogrotesque-Medium.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Geogrotesque-SemiBold";
  src: url("fonts/Geogrotesque-SemiBold.eot");
  src: url("fonts/Geogrotesque-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Geogrotesque-SemiBold.woff") format("woff"), url("fonts/Geogrotesque-SemiBold.ttf") format("truetype"), url("fonts/Geogrotesque-SemiBold.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Geogrotesque-Bold";
  src: url("fonts/Geogrotesque-Bold.eot");
  src: url("fonts/Geogrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Geogrotesque-Bold.woff") format("woff"), url("fonts/Geogrotesque-Bold.ttf") format("truetype"), url("fonts/Geogrotesque-Bold.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }
