/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Nav
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
@font-face {
  font-family: "Geogrotesque-Light";
  src: url("fonts/Geogrotesque-Light.eot");
  src: url("fonts/Geogrotesque-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Geogrotesque-Light.woff") format("woff"), url("fonts/Geogrotesque-Light.ttf") format("truetype"), url("fonts/Geogrotesque-Light.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geogrotesque-Regular";
  src: url("fonts/Geogrotesque-Regular.eot");
  src: url("fonts/Geogrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Geogrotesque-Regular.woff") format("woff"), url("fonts/Geogrotesque-Regular.ttf") format("truetype"), url("fonts/Geogrotesque-Regular.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geogrotesque-Medium";
  src: url("fonts/Geogrotesque-Medium.eot");
  src: url("fonts/Geogrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Geogrotesque-Medium.woff") format("woff"), url("fonts/Geogrotesque-Medium.ttf") format("truetype"), url("fonts/Geogrotesque-Medium.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geogrotesque-SemiBold";
  src: url("fonts/Geogrotesque-SemiBold.eot");
  src: url("fonts/Geogrotesque-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Geogrotesque-SemiBold.woff") format("woff"), url("fonts/Geogrotesque-SemiBold.ttf") format("truetype"), url("fonts/Geogrotesque-SemiBold.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geogrotesque-Bold";
  src: url("fonts/Geogrotesque-Bold.eot");
  src: url("fonts/Geogrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Geogrotesque-Bold.woff") format("woff"), url("fonts/Geogrotesque-Bold.ttf") format("truetype"), url("fonts/Geogrotesque-Bold.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 106.3%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Geogrotesque-Light", "Geogrotesque-Regular", sans-serif;
  line-height: 1.223;
  color: #404041;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.036em;
  line-height: 1.223;
}

h2 {
  font-size: 2.335em;
  line-height: 1.223;
}

h3 {
  font-size: 1.796em;
  line-height: 1.223;
}

h4 {
  font-size: 1.382em;
  line-height: 1.223;
}

p {
  font-size: 1.063em;
  line-height: 1.223;
}

h5 {
  font-size: 0.818em;
  line-height: 1.223;
}

h6 {
  font-size: 0.629em;
  line-height: 1.223;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 1.063em;
  line-height: 1.223;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #404041;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: none;
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

::selection {
  background-color: #04A4CC;
  color: #f5f5f5;
  text-shadow: none;
}

.fgtm-btn {
  background: #00ab88;
  border: 0;
  color: #fff;
  padding: 1.1rem 2rem;
  text-transform: uppercase;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  transition: all 0.4s ease;
}

.fgtm-line-btn {
  background: #fff;
  border: 2px solid #404041;
  color: #00ab88;
  padding: 1.1rem 2rem;
  text-transform: uppercase;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  transition: all 0.4s ease;
}

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/**
 * Gallery & images
 */
.wp-caption {
  background: #f5f5f5;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center;
}
.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 106.3%;
  line-height: 1.223;
}

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}

.reset-box {
  padding: 0;
  margin: 0;
}

/**
 * partials/wrapper
 * ---
 */
.wrapper {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0px auto 0;
  position: relative;
}

/**
 * partials/nav
 * ---
 * Menus
 */
#nav-container {
  padding: 10px 15px 13px;
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#nav-container:after {
  clear: both;
}
#nav-container nav {
  display: flex;
  flex-grow: 1;
}
#nav-container nav .logo {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: auto;
}
#nav-container nav .menu-copy {
  position: relative;
  display: inline-block;
  top: 17px;
  font-size: 1.3em;
  font-family: "Geogrotesque-Medium";
  text-transform: uppercase;
}
#nav-container nav .outer-menu {
  position: relative;
  display: inline-block;
  top: 0vh;
  width: 60px;
  left: 0;
  z-index: 1;
  margin-top: 0px;
}
#nav-container nav .outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
#nav-container nav .outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
#nav-container nav .outer-menu .checkbox-toggle:checked + .hamburger > div:before, #nav-container nav .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
#nav-container nav .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
#nav-container nav .outer-menu .checkbox-toggle:checked ~ .fgtm-menu {
  pointer-events: auto;
  visibility: visible;
}
#nav-container nav .outer-menu .checkbox-toggle:checked ~ .fgtm-menu > div {
  transform: scale(1);
  transition-duration: .75s;
}
#nav-container nav .outer-menu .checkbox-toggle:checked ~ .fgtm-menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
#nav-container nav .outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1em 0em 1.0em 1.0em;
  background: transparent;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-container nav .outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: #404041;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-container nav .outer-menu .hamburger > div:before, #nav-container nav .outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  background: inherit;
  transition: all 0.4s ease;
}
#nav-container nav .outer-menu .hamburger > div:after {
  top: 15px;
}
#nav-container nav .outer-menu .fgtm-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-container nav .outer-menu .fgtm-menu > div {
  width: 300vw;
  height: 300vw;
  color: #404041;
  background: rgba(0, 171, 136, 0.95);
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-container nav .outer-menu .fgtm-menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-container nav .outer-menu .fgtm-menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
  font-family: "Geogrotesque-Regular";
  text-transform: uppercase;
}
#nav-container nav .outer-menu .fgtm-menu > div > div > ul > li {
  padding: 0;
  margin: 1em 1.2em;
  font-size: 1.7em;
  display: block;
}
#nav-container nav .outer-menu .fgtm-menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
  transition: border-bottom 0.4s ease;
  color: #404041;
}
#nav-container nav .outer-menu .fgtm-menu > div > div > ul > li > a:hover {
  color: #404041;
  border-bottom: 5px solid #404041;
  /*
  &:after {
    width: 100%;
  }
  */
}
#nav-container nav .outer-menu .fgtm-menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -.15em;
  left: 0;
  width: 0;
  height: 3px;
  background: #aa1e25;
  transition: width 0.4s ease;
}
#nav-container nav .outer-menu .fgtm-menu > div > div > ul > li .sub-menu {
  list-style: none;
  display: none;
}
#nav-container nav .outer-menu .fgtm-menu > div > div > ul > li .sub-menu > li {
  color: #fff;
}

/*
.menu {}



.menu-item {}
*/
/***********************************************
* TABLET
***********************************************/
/* Portrait */
@media only screen and (min-width: 768px) {
  #nav-container {
    padding-bottom: 10px;
  }
  #nav-container nav .logo {
    width: 65px;
    height: 65px;
  }
  #nav-container nav .menu-copy {
    top: 19px;
  }
  #nav-container nav .outer-menu {
    width: 10vw;
  }
  #nav-container nav .outer-menu .checkbox-toggle:checked ~ .fgtm-menu > div {
    transform: scale(1.6);
  }
}
/***********************************************
* DESKTOP
***********************************************/
@media only screen and (min-width: 1024px) {
  #nav-container {
    padding: 20px 55px 0px 60px;
  }
  #nav-container nav .logo {
    margin-bottom: 15px;
  }
  #nav-container nav .menu-copy {
    display: none;
  }
  #nav-container nav .outer-menu {
    position: none;
    display: flex;
    width: 90%;
    padding-top: 17px;
  }
  #nav-container nav .outer-menu .checkbox-toggle {
    opacity: 0;
    display: none;
  }
  #nav-container nav .outer-menu .hamburger {
    display: none;
  }
  #nav-container nav .outer-menu .fgtm-menu {
    position: inherit;
    pointer-events: all;
    visibility: visible;
    overflow: visible;
    backface-visibility: visible;
  }
  #nav-container nav .outer-menu .fgtm-menu > div {
    width: 119vw;
    height: 100%;
    color: #404041;
    background: none;
    border-radius: 0%;
    transition: all 0.4s ease;
    flex: 1;
    transform: none;
    backface-visibility: visible;
    overflow: visible;
    display: inline-block;
  }
  #nav-container nav .outer-menu .fgtm-menu > div > div {
    text-align: right;
    max-width: 100%;
    max-height: 100vh;
    opacity: 1;
    transition: opacity 0.4s ease;
    overflow-y: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #nav-container nav .outer-menu .fgtm-menu > div > div > ul {
    list-style: none;
    padding: 0 0em;
    margin: 0;
    display: inline-block;
    max-height: 100%;
    font-family: "Geogrotesque-Regular";
  }
  #nav-container nav .outer-menu .fgtm-menu > div > div > ul > li {
    padding: 0em 0.7em 1.36em 0.7em;
    margin: -2px;
    font-size: 1.2em;
    display: inline-block;
    transition: border-bottom 0.4s ease;
  }
  #nav-container nav .outer-menu .fgtm-menu > div > div > ul > li.current-menu-item {
    border-bottom: 9px solid #00ab88;
  }
  #nav-container nav .outer-menu .fgtm-menu > div > div > ul > li.current-menu-item > a {
    color: #00ab88;
  }
  #nav-container nav .outer-menu .fgtm-menu > div > div > ul > li:hover {
    border-bottom: 9px solid #00ab88;
  }
  #nav-container nav .outer-menu .fgtm-menu > div > div > ul > li > a {
    position: relative;
    display: inline;
    cursor: pointer;
    transition: color 0.4s ease;
    color: #404041;
  }
  #nav-container nav .outer-menu .fgtm-menu > div > div > ul > li > a:hover {
    color: #00ab88;
    border-bottom: 0;
  }
  #nav-container nav .outer-menu .fgtm-menu > div > div > ul > li .sub-menu {
    list-style: none;
    display: none;
  }
  #nav-container nav .outer-menu .fgtm-menu > div > div > ul > li .sub-menu > li {
    color: #fff;
  }
}
/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
#footer-container {
  background: #282828;
  color: #fff;
  margin-top: 0px;
  padding: 55px 15px 20px;
  text-align: center;
}
#footer-container .footer {
  text-align: center;
}
#footer-container .footer .full-width-widget {
  width: 100%;
  margin: 0 0 60px 0;
}
#footer-container .footer .full-width-widget a {
  color: transparent;
}
#footer-container .footer .full-width-widget a .facebook,
#footer-container .footer .full-width-widget a .twitter,
#footer-container .footer .full-width-widget a .insta {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
#footer-container .footer .full-width-widget a .facebook.svg path,
#footer-container .footer .full-width-widget a .twitter.svg path,
#footer-container .footer .full-width-widget a .insta.svg path {
  fill: #fff;
}
#footer-container .footer .full-width-widget a .youtube {
  width: 40px;
  height: 40px;
  margin: -5px 10px;
}
#footer-container .footer .full-width-widget a .youtube.svg path {
  fill: #fff;
}
#footer-container .footer .footer-logo {
  width: 62px;
  display: flex;
  margin: 0 auto 25px;
}
#footer-container .footer a,
#footer-container .footer link,
#footer-container .footer hover,
#footer-container .footer active {
  color: #696A6C;
}

/***********************************************
* TABLET
***********************************************/
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) {
  #footer-container .footer .full-width-widget a .facebook,
  #footer-container .footer .full-width-widget a .twitter,
  #footer-container .footer .full-width-widget a .insta {
    width: 30px;
    height: 30px;
  }
  #footer-container .footer .full-width-widget a .facebook.svg path,
  #footer-container .footer .full-width-widget a .twitter.svg path,
  #footer-container .footer .full-width-widget a .insta.svg path {
    fill: #fff;
  }
  #footer-container .footer .full-width-widget a .youtube {
    width: 40px;
    height: 40px;
  }
  #footer-container .footer .full-width-widget a .youtube.svg path {
    fill: #fff;
  }
  #footer-container .footer .footer-logo {
    width: 60px;
  }
}
/***********************************************
* DESKTOP
***********************************************/
@media only screen and (min-device-width: 1024px) {
  #footer-container .footer .full-width-widget a .facebook,
  #footer-container .footer .full-width-widget a .twitter,
  #footer-container .footer .full-width-widget a .insta {
    width: 30px;
    height: 30px;
  }
  #footer-container .footer .full-width-widget a .facebook.svg path,
  #footer-container .footer .full-width-widget a .twitter.svg path,
  #footer-container .footer .full-width-widget a .insta.svg path {
    fill: #fff;
  }
  #footer-container .footer .full-width-widget a .youtube {
    width: 40px;
    height: 40px;
  }
  #footer-container .footer .full-width-widget a .youtube.svg path {
    fill: #fff;
  }
  #footer-container .footer .footer-logo {
    width: 60px;
  }
}
/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/**
 * partials/header
 * ---
 */
.header-container {
  display: flex;
  margin-top: 83px;
}
.header-container header.header {
  flex: 1 1 auto;
  align-content: stretch;
  justify-content: center;
}
.header-container header.header .hero-unit-image {
  height: 61.7vh;
  flex: 1;
  background: url("img/hero-image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header-container header.header .hero-unit-image .img-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-container header.header .full-logo {
  position: absolute;
  text-align: center;
  left: 0;
  top: 200px;
  width: 100%;
  opacity: 1;
  transition: all 0.2s ease 0.2s;
  height: 0;
}
.header-container header.header .full-logo .full-logo-img {
  position: relative;
  padding: 0 1em;
}
.header-container header.header .hero-call-to-action {
  position: absolute;
  display: flex;
  width: 100%;
  text-align: center;
}
.header-container header.header .hero-call-to-action .new-here-link {
  position: relative;
  flex: 1 1 auto;
  justify-content: center;
  bottom: 65px;
}
.header-container header.header .hero-call-to-action .new-here-link a {
  color: #fff;
  font-family: "Geogrotesque-Regular";
  font-size: 1.1em;
  text-transform: none;
}
.header-container header.header .hero-call-to-action .see-more {
  position: relative;
  display: none;
}
.header-container header.header .hero-call-to-action .social-media {
  position: relative;
  display: none;
}

.home-live-service-container {
  background: #00ab88;
  transition: all 0.2s ease 0.2s;
}
.home-live-service-container a {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15em;
  /*
        span {
           background: url("img/arrow-right.svg") no-repeat 0 0px;
           @include background-size(contain);
           width: 20px;
           height: 20px;
           margin-left: 12px;
        }
  */
}
.home-live-service-container a.home-live-service-btn {
  padding: 1.5em 2em;
  transition: all 0.2s ease 0.2s;
}
.home-live-service-container a div {
  transition: all 0.2s ease 0.2s;
  text-align: center;
}
.home-live-service-container a div:hover {
  transform: none;
}

/***********************************************
* CONTINUE MOBILE
***********************************************/
@media only screen and (min-width: 414px) {
  .header-container header.header .full-logo {
    top: 230px;
  }
  .header-container header.header .full-logo .full-logo-img {
    max-width: 90%;
  }
}
@media only screen and (min-width: 568px) {
  .header-container header.header .hero-unit-image {
    height: 88vh;
  }
  .header-container header.header .full-logo {
    top: 150px;
  }
  .header-container header.header .full-logo .full-logo-img {
    max-width: 60%;
  }
  .header-container header.header .hero-call-to-action .new-here-link {
    font-size: 1.063em;
  }
}
@media only screen and (min-width: 600px) {
  .header-container header.header .hero-unit-image {
    height: 75vh;
  }
  .header-container header.header .full-logo .full-logo-img {
    max-width: 55%;
  }

  .home-live-service-container a {
    font-size: 1.1em;
  }
}
/***********************************************
* TABLET
***********************************************/
/* Portrait */
@media only screen and (min-width: 768px) {
  .header-container header.header .hero-unit-image {
    height: 45vh;
  }
  .header-container header.header .full-logo {
    top: 230px;
  }
  .header-container header.header .full-logo .full-logo-img {
    max-width: 50%;
  }

  .home-live-service-container a {
    font-size: 1.15em;
  }
}
/***********************************************
* DESKTOP
***********************************************/
@media only screen and (min-width: 1024px) {
  .header-container header.header .hero-unit-image {
    height: 74.91vh;
  }
  .header-container header.header .full-logo {
    top: 320px;
  }
  .header-container header.header .full-logo .full-logo-img {
    max-width: 100%;
  }
  .header-container header.header .hero-call-to-action {
    position: absolute;
    display: flex;
    width: 100%;
    text-align: center;
  }
  .header-container header.header .hero-call-to-action .new-here-link {
    position: relative;
    flex: 1 1 auto;
    justify-content: center;
    bottom: 65px;
    transition: all 0.4s ease;
  }
  .header-container header.header .hero-call-to-action .new-here-link a {
    color: #fff;
    font-family: "Geogrotesque-Regular";
    font-size: 1.2em;
    text-transform: none;
    transition: all 0.4s ease;
  }
  .header-container header.header .hero-call-to-action .new-here-link a:hover {
    color: #00ab88;
  }
  .header-container header.header .hero-call-to-action .see-more {
    position: relative;
    display: block;
    flex: 1 1 auto;
    bottom: 65px;
    color: #fff;
    font-size: 1.2em;
    font-family: "Geogrotesque-Regular";
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .header-container header.header .hero-call-to-action .see-more:hover {
    color: #00ab88;
  }
  .header-container header.header .hero-call-to-action .see-more:after {
    content: "";
  }
  .header-container header.header .hero-call-to-action .social-media {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    bottom: 65px;
  }
  .header-container header.header .hero-call-to-action .social-media a {
    color: transparent;
  }
  .header-container header.header .hero-call-to-action .social-media a figure {
    margin: 0;
  }
  .header-container header.header .hero-call-to-action .social-media a figure .facebook,
  .header-container header.header .hero-call-to-action .social-media a figure .twitter,
  .header-container header.header .hero-call-to-action .social-media a figure .insta {
    width: 25px;
    height: 25px;
    margin: 0 10px;
  }
  .header-container header.header .hero-call-to-action .social-media a figure .facebook.svg path,
  .header-container header.header .hero-call-to-action .social-media a figure .twitter.svg path,
  .header-container header.header .hero-call-to-action .social-media a figure .insta.svg path {
    fill: #fff;
    transition: all 0.4s ease;
  }
  .header-container header.header .hero-call-to-action .social-media a figure .facebook.svg path:hover,
  .header-container header.header .hero-call-to-action .social-media a figure .twitter.svg path:hover,
  .header-container header.header .hero-call-to-action .social-media a figure .insta.svg path:hover {
    fill: #00ab88;
  }
  .header-container header.header .hero-call-to-action .social-media a figure .youtube {
    width: 35px;
    height: 35px;
    margin: -5px 10px;
  }
  .header-container header.header .hero-call-to-action .social-media a figure .youtube.svg path {
    fill: #fff;
    transition: all 0.4s ease;
  }
  .header-container header.header .hero-call-to-action .social-media a figure .youtube.svg path:hover {
    fill: #00ab88;
  }

  .home-live-service-container:hover {
    background: #01715a;
  }
  .home-live-service-container a {
    font-size: 1.4em;
  }
  .home-live-service-container a div:after {
    width: 31px;
    height: 31px;
  }
  .home-live-service-container a:hover {
    transform: scale(1.2);
  }
}
/**
 * partials/home
 * ---
 */
.home-events {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
}
.home-events .event,
.home-events .times {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.home-events .event h3,
.home-events .times h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.home-events .event {
  margin-bottom: 4em;
}
.home-events .times .services {
  text-align: center;
}
.home-events .times .services .service:last-child {
  margin-top: 2rem;
}
.home-events .times .services .service .service-time {
  margin-bottom: 2.5rem;
}
.home-events .times .services .service .service-time h4 {
  text-transform: uppercase;
}
.home-events .times .services .service .service-time h4:last-child {
  margin-top: 0.8rem;
}
.home-events .times .services .service h5 {
  color: #696a6c;
  text-transform: uppercase;
  font-family: "Geogrotesque-Medium";
  margin-bottom: 0.5rem;
}
.home-events .times .services .service p {
  color: #696a6c;
}

.home-youth {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: #E6E6E6;
}
.home-youth .wrapper main .nursery,
.home-youth .wrapper main .youth {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-bottom: 5em;
}
.home-youth .wrapper main .nursery h3,
.home-youth .wrapper main .youth h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.home-youth .wrapper main .nursery img.nursery-home, .home-youth .wrapper main .nursery img.youth-home,
.home-youth .wrapper main .youth img.nursery-home,
.home-youth .wrapper main .youth img.youth-home {
  margin-bottom: 1.5em;
}
.home-youth .wrapper main .nursery p,
.home-youth .wrapper main .youth p {
  text-align: center;
}
.home-youth .wrapper main .nursery .btn-container,
.home-youth .wrapper main .youth .btn-container {
  text-align: center;
}
.home-youth .wrapper main .nursery .btn-container .fgtm-btn,
.home-youth .wrapper main .youth .btn-container .fgtm-btn {
  margin-top: 1rem;
  display: block;
  font-size: 1.063em;
  position: relative;
  /*
                    &:after {
                       content: '';
                       position: absolute;
                       background: url("img/arrow-right.svg") no-repeat;
                       @include background-size(contain);
                       width: 20px;
                       height: 20px;
                       margin-left: 12px;
                    }
  */
}
.home-youth .wrapper main .youth {
  margin-bottom: 0em;
}

.home-sermon {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
}
.home-sermon .sermons {
  margin-bottom: 1em;
}
.home-sermon .sermons h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.home-sermon .btn-container {
  text-align: center;
}
.home-sermon .btn-container .fgtm-btn {
  margin-top: 1rem;
  display: block;
  font-size: 1.063em;
}

/***********************************************
* CONTINUE MOBILE
***********************************************/
@media only screen and (min-device-width: 600px) {
  .home-events .event h3,
  .home-events .times h3 {
    font-size: 2.166em;
  }
  .home-events .times .services {
    display: flex;
  }
  .home-events .times .services .service {
    width: 50%;
  }
  .home-events .times .services .service:last-child {
    margin-top: 0;
    margin-left: 2rem;
  }

  .home-youth .wrapper main .nursery h3,
  .home-youth .wrapper main .youth h3 {
    font-size: 2.166em;
  }
  .home-youth .wrapper main .nursery .btn-container,
  .home-youth .wrapper main .youth .btn-container {
    text-align: center;
  }
  .home-youth .wrapper main .nursery .btn-container .fgtm-btn,
  .home-youth .wrapper main .youth .btn-container .fgtm-btn {
    display: inline-block;
  }

  .home-sermon .sermons h3 {
    font-size: 2.166em;
  }
  .home-sermon .btn-container .fgtm-btn {
    display: inline-block;
  }
}
 /***********************************************
* TABLET
***********************************************/
/* Portrait */
/***********************************************
* DESKTOP
***********************************************/
@media only screen and (min-device-width: 900px) {
  .home-events {
    flex-direction: row;
  }
  .home-events .event,
  .home-events .times {
    width: 50%;
  }
  .home-events .event {
    margin-bottom: 0em;
  }
  .home-events .times {
    margin-left: 2em;
  }
  .home-events .times .services .service:last-child {
    margin-top: 0rem;
  }
  .home-events .times .services .service .service-time {
    margin-bottom: 2.5rem;
  }
  .home-events .times .services .service .service-time h4 {
    text-transform: uppercase;
  }
  .home-events .times .services .service .service-time h4:last-child {
    margin-top: 0.8rem;
  }
  .home-events .times .services .service h5 {
    color: #696a6c;
    text-transform: uppercase;
    font-family: "Geogrotesque-Medium";
    margin-bottom: 0.5rem;
  }
  .home-events .times .services .service p {
    color: #696a6c;
  }

  .home-youth {
    flex-direction: row;
  }
  .home-youth .wrapper main {
    display: flex;
  }
  .home-youth .wrapper main .nursery,
  .home-youth .wrapper main .youth {
    width: 45%;
  }
  .home-youth .wrapper main .nursery img.nursery-home, .home-youth .wrapper main .nursery img.youth-home,
  .home-youth .wrapper main .youth img.nursery-home,
  .home-youth .wrapper main .youth img.youth-home {
    margin-bottom: 1.5em;
  }
  .home-youth .wrapper main .nursery .btn-container .fgtm-btn,
  .home-youth .wrapper main .youth .btn-container .fgtm-btn {
    background: #00ab88;
    transition: all 0.4s ease;
  }
  .home-youth .wrapper main .nursery .btn-container .fgtm-btn:hover,
  .home-youth .wrapper main .youth .btn-container .fgtm-btn:hover {
    background: #01715a;
  }
  .home-youth .youth {
    margin-bottom: 0em;
    margin-left: 2em;
  }

  .home-sermon .btn-container .fgtm-btn {
    background: #00ab88;
    transition: all 0.4s ease;
  }
  .home-sermon .btn-container .fgtm-btn:hover {
    background: #01715a;
  }
}
/**
 * Global pageHeader.scss
 * ---
 */
.page-header-container {
  display: flex;
  margin-top: 83px;
}
.page-header-container header.header {
  flex: 1 1 auto;
  align-content: stretch;
  justify-content: center;
}
.page-header-container header.header .page-header {
  height: 45vh;
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-header-container header.header .page-header .img-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.page-header-container header.header .heading {
  position: absolute;
  text-align: center;
  left: 0;
  top: 170px;
  width: 100%;
  opacity: 1;
  transition: all 0.2s ease 0.2s;
  height: 0;
  color: #fff;
}
.page-header-container header.header .heading h1 {
  font-size: 2.666em;
  line-height: 1.593;
  text-transform: uppercase;
}
.page-header-container header.header .heading p {
  margin: 0 1.5em;
}

/**
 * partials/Templates/New here
 * ---
 * New here Page
 */
.newHere-believe-container {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(252, 252, 252, 0.1), rgba(252, 252, 252, 0.1)), url("img/whatWeBelieve.jpg") no-repeat center center;
  -webkit-background-size: 1030%;
  -moz-background-size: 1030%;
  -o-background-size: 1030%;
  background-size: 1030%;
}
.newHere-believe-container .believe {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  color: #404041;
}
.newHere-believe-container .believe > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.newHere-believe-container .believe > p {
  margin-bottom: 1rem;
  line-height: 1.593;
}

.newHere-service-times {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: url("img/exclusive_paper.png") left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.newHere-service-times .wrapper .service-times {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  color: #404041;
}
.newHere-service-times .wrapper .service-times > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.newHere-service-times .wrapper .service-times .time-container {
  border: 1px solid #d5d6d8;
  padding: 1.4em 0 1.4em 0;
  margin: 0rem 1.1rem 0rem 1.1rem;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  border-radius: 90px;
}
.newHere-service-times .wrapper .service-times .time-container .time-content > .clock {
  width: 20vw;
  height: 11vh;
}
.newHere-service-times .wrapper .service-times .time-container .time-content > .first-time,
.newHere-service-times .wrapper .service-times .time-container .time-content > .second-time,
.newHere-service-times .wrapper .service-times .time-container .time-content > .third-time {
  padding: 1.4em 0 1.4em 0;
}
.newHere-service-times .wrapper .service-times .time-container .time-content > .first-time p:nth-child(1),
.newHere-service-times .wrapper .service-times .time-container .time-content > .second-time p:nth-child(1),
.newHere-service-times .wrapper .service-times .time-container .time-content > .third-time p:nth-child(1) {
  text-transform: uppercase;
  font-family: "Geogrotesque-Medium";
  font-size: 1.433em;
}
.newHere-service-times .wrapper .service-times .time-container .time-content > .first-time p:nth-child(2),
.newHere-service-times .wrapper .service-times .time-container .time-content > .second-time p:nth-child(2),
.newHere-service-times .wrapper .service-times .time-container .time-content > .third-time p:nth-child(2) {
  text-transform: uppercase;
  font-family: "Geogrotesque-Regular";
  color: #696a6c;
  font-size: 1.063em;
}

.newHere-youth {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/experienceYouth.jpg") center center no-repeat;
  -webkit-background-size: 1220%;
  -moz-background-size: 1220%;
  -o-background-size: 1220%;
  background-size: 1220%;
}
.newHere-youth .wrapper .youth {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  color: #fff;
}
.newHere-youth .wrapper .youth > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
.newHere-youth .wrapper .youth .nursery,
.newHere-youth .wrapper .youth .children,
.newHere-youth .wrapper .youth .jr-youth,
.newHere-youth .wrapper .youth .young-adults {
  width: 100%;
  height: 65vh;
  background: #fff;
  color: #404041;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 7rem 1.5rem 0 1.5rem;
  font-size: 2.5em;
}
.newHere-youth .wrapper .btn-container {
  text-align: center;
}
.newHere-youth .wrapper .btn-container .fgtm-btn {
  margin-top: 1rem;
  display: block;
  font-size: 1.063em;
}

.newHere-cta {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("img/checkoutEvent.jpeg") center center no-repeat;
  -webkit-background-size: 710%;
  -moz-background-size: 710%;
  -o-background-size: 710%;
  background-size: 710%;
}
.newHere-cta .wrapper .cta {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  color: #fff;
}
.newHere-cta .wrapper .cta > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
.newHere-cta .wrapper .btn-container {
  text-align: center;
}
.newHere-cta .wrapper .btn-container .fgtm-btn {
  margin-top: 1rem;
  display: block;
  font-size: 1.063em;
}

/**
 * partials/Templates/About
 * ---
 * About Page
 */
.about-mission {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about-mission .wrapper .mission {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  color: #404041;
}
.about-mission .wrapper .mission > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.about-mission .wrapper .mission > p {
  margin-bottom: 1rem;
  line-height: 1.593;
}

.about-believe-container {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(252, 252, 252, 0.1), rgba(252, 252, 252, 0.1)), url("img/whatWeBelieve.jpg") no-repeat center center;
  -webkit-background-size: 907%;
  -moz-background-size: 907%;
  -o-background-size: 907%;
  background-size: 907%;
}
.about-believe-container .believe {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  color: #404041;
}
.about-believe-container .believe > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.about-believe-container .believe > p {
  margin-bottom: 1rem;
  line-height: 1.593;
}

.about-leadership {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/rockywall.png") left top;
}
.about-leadership .wrapper .leadership-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  color: #404041;
}
.about-leadership .wrapper .leadership-container .leadership {
  margin-bottom: 3rem;
}
.about-leadership .wrapper .leadership-container .leadership > figure {
  margin: 0 0 1rem 0;
}
.about-leadership .wrapper .leadership-container .leadership > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.about-leadership .wrapper .leadership-container .leadership .title {
  font-size: 0.818em;
}
.about-leadership .wrapper .leadership-container .leadership > h4 {
  padding: 0rem 0 0.5rem 0;
}

.about-ministry-leadership {
  padding: 3em 0 0em 0;
}
.about-ministry-leadership .ministry-leadership-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  color: #404041;
}
.about-ministry-leadership .ministry-leadership-container .ministry-leadership {
  margin-bottom: 3rem;
}
.about-ministry-leadership .ministry-leadership-container .ministry-leadership:last-child {
  margin-bottom: 0rem;
}
.about-ministry-leadership .ministry-leadership-container .ministry-leadership > figure {
  margin: 0 0 1rem 0;
}
.about-ministry-leadership .ministry-leadership-container .ministry-leadership > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.about-ministry-leadership .ministry-leadership-container .ministry-leadership .title {
  font-size: 0.818em;
}
.about-ministry-leadership .ministry-leadership-container .ministry-leadership > h4 {
  padding: 0rem 0 0.5rem 0;
}

.about-ministries {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
}
.about-ministries .wrapper .ministries {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  color: #404041;
}
.about-ministries .wrapper .ministries > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.about-ministries .wrapper .ministries .ministry {
  width: 100%;
  border: 1px solid #d5d6d8;
  background: #fff;
  margin-bottom: 2rem;
  padding: 6rem 1rem 0rem 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.about-ministries .wrapper .ministries .ministry:last-child {
  margin-bottom: 0rem;
}
.about-ministries .wrapper .ministries .ministry h4 {
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}
.about-ministries .wrapper .ministries .ministry p {
  margin-bottom: 2rem;
}
.about-ministries .wrapper .ministries .ministry > a {
  display: inline-flex;
  padding: 0.6rem 0.7rem;
  margin-bottom: 1.3rem;
}

/**
 * partials/Templates/Calendar
 * ---
 * Calendar Page
 */
.calendar-container {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
}

/**
 * partials/Templates/Giving
 * ---
 * Giving Page
 */
.giving-paypal {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(230, 231, 232, 0.8), rgba(230, 231, 232, 0.8)), url("img/giving2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.giving-paypal .wrapper .paypal {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  color: #404041;
}
.giving-paypal .wrapper .paypal > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.giving-paypal .wrapper .paypal .paypal-logo {
  margin-bottom: 2rem;
  width: 40%;
}
.giving-paypal .wrapper .paypal form {
  text-align: center;
}
.giving-paypal .wrapper .paypal form input {
  display: block;
  width: 100%;
}
.giving-paypal .wrapper .paypal form input.fgtm-btn {
  margin-top: 1rem;
  display: block;
  font-size: 1.063em;
  position: relative;
}

.giving-donate {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(93, 118, 3, 0.74), rgba(77, 98, 3, 0.74)), url("img/giving2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.giving-donate .wrapper .donate {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  color: #fff;
}
.giving-donate .wrapper .donate > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.giving-donate .wrapper .donate .btn-container {
  text-align: center;
}
.giving-donate .wrapper .donate .btn-container .fgtm-btn {
  margin-top: 1rem;
  display: block;
  font-size: 1.063em;
  position: relative;
}

/**
 * partials/Templates/Contact
 * ---
 * Contact Page
 */
.contact-address {
  padding: 5em 0 3em 0;
  display: flex;
  flex-direction: column;
}
.contact-address .say-hi {
  margin-bottom: 3rem;
  text-align: center;
}
.contact-address .say-hi h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.contact-address .address {
  text-align: center;
  align-content: center;
}
.contact-address .address h4 {
  margin-bottom: 1rem;
}
.contact-address .address h4:last-child {
  margin-bottom: 0rem;
}
.contact-address .address address {
  margin-bottom: 1rem;
}
.contact-address .address a.tel {
  display: inline-flex;
  margin-bottom: 3rem;
}

.contact-ask {
  padding-bottom: 5em;
}
.contact-ask fieldset {
  padding: 2rem 1rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #d5d6d8;
}
.contact-ask fieldset h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.contact-ask fieldset .just-contact-form-wrap p {
  font-size: 0.818em;
  margin-bottom: 0.9rem;
}
.contact-ask fieldset .just-contact-form-wrap p .just_contact_form_name,
.contact-ask fieldset .just-contact-form-wrap p .just_contact_form_email,
.contact-ask fieldset .just-contact-form-wrap p .just_contact_form_url,
.contact-ask fieldset .just-contact-form-wrap p .just_contact_form_subject,
.contact-ask fieldset .just-contact-form-wrap p .just_contact_form_message,
.contact-ask fieldset .just-contact-form-wrap p .just_contact_form_captcha {
  width: 100%;
  border: 1px solid #d5d6d8;
  padding: 0.6rem 0.3rem;
  margin-top: 0.2rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}
.contact-ask fieldset .just-contact-form-wrap p .just_contact_form_message {
  height: 5rem;
}
.contact-ask fieldset .just-contact-form-wrap p:nth-child(n+7) {
  font-size: 1.063em;
}
.contact-ask fieldset .just-contact-form-wrap p:nth-child(n+7) .just-contact-form-submit {
  background: #00ab88;
  border: 0;
  color: #fff;
  padding: 1.1rem 0rem;
  text-transform: uppercase;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  font-family: "Geogrotesque-Light";
}
.contact-ask fieldset .just-contact-form-wrap .just-contact-form-result {
  background: #aa1e25;
  padding: 1rem 0rem;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.contact-ask fieldset .just-contact-form-wrap .just-contact-form-result p {
  color: #fff;
  font-size: 1.063em;
  margin: 0px;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
